:host {
  min-height: 100vh;
}
.main-admin-cont {
  min-height: 100vh;
}
.example-container {
  // width: 100vw;
  min-height: 100vh;
}

.example-sidenav-content {
  height: 100%;
  padding-top: 25x;
  padding-left: 25px;
  padding-bottom: 100px;
}

.example-sidenav {
  padding: 0px;
}
